<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="classes"
	thread-count="2" configfailurepolicy="continue">
	
	
	
	<test name="FlightBook_Firefox" annotations="JDK"
		preserve-order="true">
		<parameter name="browser" value="firefox"/>
		<classes>
			<class name="ae.tajawal.flightbooking.runner.TestRunner" />
		</classes>
	</test>
	
	<test name="FlightBook_Chrome" annotations="JDK"
		preserve-order="true">
		<parameter name="browser" value="chrome"/>
		<classes>
			<class name="ae.tajawal.flightbooking.runner.TestRunner" />
		</classes>
	</test>
	
</suite>